@model Web.Models.UserViewModel

@{
    ViewData["Title"] = "Luftborn";
}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<div class="text-center">
    <h1 class="display-4">Hey, It's Luftborn!</h1>
    <br />
    <form>
        <div class="form-row">
            <div class="col-md-4">
                <input type="text" id="username" required class="form-control" placeholder="Name">
            </div>
            <div class="col-md-2">
                <select id="gender" class="form-control">
                    @foreach (var gender in Model.Genders)
                    {
                        <option value="@gender.Id">@gender.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" id="newBtn" class="btn btn-primary mb-2">New</button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Join Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <span hidden>@user.Id</span>
                    <th scope="row">@user.Id</th>
                    <td>@user.Name</td>
                    <td>@user.Gender.Name</td>
                    <td>@user.CreatedDate.ToString("dd MMM yyyy")</td>
                    <td style="cursor: pointer;"><button class="removeBtn btn btn-danger sm-1" user-id="@user.Id"
                        type="button">X</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#newBtn').click(function () {
        debugger;

        let name = $('#username').val();
        let genderId = $('#gender').find(":selected").val();

        name = name != "" ? name : "Default";

        let newUser = {
            name: name,
            genderId: genderId
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create")',
            data: newUser,

        }).done(function (data) {
            debugger;

            if (data.isSuccess) {
                $("#body").append(`<tr>
                                        <th scope="row">${data.id}</th>
                                        <td>${name}</td>
                                        <td>${$('#gender').find(":selected").text()}</td>
                                        <td>${data.createdDate}</td>
                                        <td style="cursor: pointer;"><button class="removeBtn btn btn-danger sm-1" user-id="${data.id}" type="button">X</button></td>
                                       </tr>`)
            }

            $('#username').val('');
            $('#gender').prop("selectedIndex", 0);
        })
    })

    $("#body").on("click", ".removeBtn", function () {
        debugger;
        let removeBtn = $(this);

        let id = removeBtn.attr("user-id");

        let removeObj = {
            id: id
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Remove")',
            data: removeObj
        }).done(function (data) {
            debugger;

            if (data.isSuccess) {
                let row = removeBtn.closest("tr");
                row.remove();
            }
        })
    })
</script>
